<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h3>Modulo 1 - Introdução</h3>
<p>{{title}}</p>
<meu-primeiro-component></meu-primeiro-component>
<app-segundo-component></app-segundo-component>
<app-cursos></app-cursos>
<app-cursos-detalhes></app-cursos-detalhes>

<h3>Modulo 2 - Data Binding</h3>
<app-data-binding></app-data-binding>
